body::-webkit-scrollbar {
  margin: 0;
  padding: 0;
  display: none;
}

body {

  /* min-height: 100vh; */
  max-width: 100%;
  /* background-color: papayawhip; */
  margin: 0 auto;

  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
  /* width: max-content; */
}

.columnForBasic {
  margin: 0;
  padding: 0;
  flex-direction: row;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
  padding: 4px;
}

.rowForBasic {
  display: flex;
}

.infoTables {
  height: 100%;
  border: 1px solid;
  border-collapse: collapse;
  width: 100%;
}

.infoTables td,
.infoTables th {
  border: 1px solid #ddd;
  padding: 8px;
}

.infoTables tr:nth-child(even) {
  background-color: #f2f2f2;
}

.infoTables tr:hover {
  background-color: #ddd;
}

.infoTables th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #04aa6d;
  color: white;
}

#gotocrm {
  background-color: white;
  padding: 0.5em;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 6px;
  color: black;
  font-family: "Oswald";
  font-size: 20px;
  text-decoration: none;
  border: none;
}

#gotocrm:hover {
  border: none;
  background: orange;
  box-shadow: 0px 0px 1px #777;
}

.text-center {
  text-align: center;
}

ol.center-list {
  padding-inline-start: 0;
  /* fix ol default behaviour */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

/* mark {
  background-color: red;
} */

#errorBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: red;
  color: white;
}

/* input[name="searchInput"] {
  height: 200px;
} */
/* #searchInput{
  height: 200px;
  width: 50%;
} */

#searchButton {
  background-color: black;
  /* background-color: #4CAF50; Green */
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  transition-duration: 0.4s;
  cursor: pointer;
  margin: 5px;
}

#searchButton:hover {
  background-color: #4caf50;
  color: white;
}

.controlcenter,
#masterReport {
  margin-top: 2%;
  text-align: center;
}

.forLength {
  width: 200px;
}

/* ----------------------- SWITCH ---------------------------- */
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider {
  background-color: #2196F3;
}

input:focus+.slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}